    <div>

        <div class="carousel carousel-slider">
                <div class="carousel-item  white-text" href="#one!">
                    <img width='100%' height='100%' src={{item.images[0].src}}>
                </div>
                <div class="carousel-item  white-text" href="#one!">
                    <img width='100%' height='100%' src={{item.images[0].src}}>
                </div>
          </div>
    </div>   


    <div class='card' *ngIf='item !== undefined'>
    
        <h1 >{{item.name}}</h1>
        <p style='font-size: 15pt; font-weight: bold;'>${{item.price}}</p>
      
          <div>
              <p>
                  <span class='fas fa-star checked'></span>
                  <span class='fas fa-star checked'></span>
                  <span class='fas fa-star checked'></span>
                  <span class='fas fa-star checked'></span>
                  <span class='fas fa-star-half-alt'></span>
                </p>
                <form action="#" class='row'>
                    <p>
                      <label class='col s4'>
                        <input type="checkbox"  value='Small' />
                        <span>Small</span>
                      </label>
                    </p>
                    <p>
                        <label class='col s4'>
                          <input type="checkbox" checked="checked" />
                          <span>Medium</span>
                        </label>
                      </p>
                      <p>
                          <label class='col s4'>
                            <input type="checkbox" />
                            <span>Large</span>
                          </label>
                        </p>
                          
                  </form>
                <p>{{item.description}}</p>
        </div>
        <a (click)='addToCart(item)' class='btn btn-large waves-effect waves-light black lighten-4'><i class="material-icons">add_shopping_cart</i></a>
      </div>
<div class="related-products row">
  <h2>Related Products</h2>
  <div *ngFor='let related of relatedItems' class='products col s4'>
      <h6> {{related.name}}</h6>
      <a [routerLink]='["/product", related.id]' target='_blank'><img src={{related.images[0].src}} alt="" class='related-imgs'></a>
      <p>
          <span class='fas fa-star checked'></span>
          <span class='fas fa-star checked'></span>
          <span class='fas fa-star checked'></span>
          <span class='fas fa-star checked'></span>
          <span class='fas fa-star-half-alt'></span>
        </p>   
        <p><strong>${{related.price}}</strong></p>   
  </div>
</div>


