<div class="product-container">
  <div class="products" *ngFor='let product of products'>
    <h4>{{product.name}}</h4>
    <a [routerLink]='["/product", product.id]'><img src={{product.images[0].src}} alt={{product.name}} class='product-img'></a>
    <p>Price: ${{product.price}}</p>
    <p>
        <span class='fas fa-star checked'></span>
        <span class='fas fa-star checked'></span>
        <span class='fas fa-star checked'></span>
        <span class='fas fa-star checked'></span>
        <span class='fas fa-star-half-alt'></span>
    </p>
    <a (click)='addToCart(product)' class='cart-btn btn btn-large waves-effect waves-light red white-text'><i class='material-icons'>add_shopping_cart</i></a>
    
  </div>
  
</div>

<app-cart [addedItem]='selectedProduct' style='display:none;'></app-cart>

